:root {
    --cinza: #555;
}


* {
    margin: 0;
    padding: 0;
}

/* Todo o site */
body {
    font-family: 'Times New Roman', Times, serif;
    color: var(--cinza);
}

/* Topo */
header {
    background-color: black;
    padding: 40px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    text-align: center;
    color: aliceblue;
}


/* Corpo da página */
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

section {}

section p {
    font-size: 1.8rem;
    line-height: 2.0;


}

section h1 {
    font-size: 3.0rem;
    padding-bottom: 1rem;
    color: black;
}

section hr {
    border-bottom: #555 1px solid;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.desenho {
    display: flex;
}

.desenho h1 {
    width: 100%;
    height: 2rem;
}

.desenho img {
    width: 20%;
    height: 20rem;
    object-fit: cover;
    justify-items: right;
    margin-right: 2rem;
    border-radius: 1rem;
}

.desenho p {
    justify-items: left;
}


/* Rodapé */
footer {
    background-color: black;
    padding: 40px 0;
}

footer p {
    text-align: center;
    color: white;
}